@media screen and (min-width: 1280px) {
  .container {
    max-width: 1258px;
  }
  .tab-slider,
  .apple-tab {
    display: none;
  }
  .food-slider {
    top: auto;
    width: 580px;
    height: 580px;
    border-radius: 50%;
    border: 26px solid var(--yellow-main);
    background: var(--main-white);
    overflow: hidden;
  }
  .fav-list > li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 395px;
    height: 397px;
    overflow: hidden;
    border: 16px solid var(--yellow-main);
    border-radius: 197.5px;
    margin-bottom: 32px;
  }
  .fav-list > li > img {
    width: 315px;
    height: 315px;
  }
}
