@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .mob-menu,
  .apple-mob,
  .banana-mob,
  .banana-desk,
  .fav-mob-list {
    display: none;
  }
  .header-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .btn {
    padding: 6px 18px;
  }
  .title {
    font-size: 42px;
    line-height: 1.2;
  }
  .text {
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 1.5;
  }
  .hero {
    padding-bottom: 0;
  }
  .hero-tab {
    display: flex;
  }
  .hero .text {
    display: block;
    margin-top: 44px;
    margin-bottom: 40px;
    width: 336px;
  }
  .hero .title {
    width: 500px;
  }
  .hero .items {
    display: flex;
    justify-content: space-between;
  }
  .food-slider {
    position: relative;
    top: -10px;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    border: 14px solid var(--yellow-main);
    background: var(--main-white);
    overflow: hidden;
  }
  .special-section {
    position: relative;
    top: -120px;
    margin-left: auto;
    margin-right: auto;
    height: 1140px;
    background-size: cover;
    background-repeat: no-repeat;
    background: url(../img/hero-bg-tab.png);
  }
  .apple-tab {
    padding-top: 150px;
  }
  .special .title,
  .special .text {
    margin-right: 178px;
  }
  .special .title {
    margin-top: 60px;
  }
  .offer-list {
    display: flex;
    gap: 116px;
    margin-bottom: 40px;
  }
  .offer-list .item {
    width: 253px;
  }
  .offer-text {
    margin-bottom: 0;
  }
  .fav-title {
    margin-top: -20px;
  }
  .fav-text {
    margin-bottom: 60px;
  }
  .fav-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 32px;
    padding-bottom: 100px;
  }
  .fav-list > li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 336px;
    height: 338px;
    overflow: hidden;
    border: 14px solid var(--yellow-main);
    border-radius: 167.59px;
  }
  .fav-list > li > img {
    width: 268px;
    height: 268px;
  }

  .cust-section {
    height: 554px;
    background: url(../img/cust-bg-tab.png);
    padding-top: 60px;
  }
  .cust-list {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }
  .cust-item {
    width: 336px;
    padding: 12px;
  }
  .banana-tab {
    position: relative;
    top: -30px;
    margin-left: auto;
  }
  .subs-title {
    margin-top: -10px;
  }
  .subs-text {
    margin-bottom: 24px;
  }
  .subs-form {
    width: 394px;
  }
  .subs-btn {
    margin-left: 22px;
  }
}

@media screen and (max-width: 1279px) {
  .desk-slider,
  .apple-desk {
    display: none;
  }
}
